.git
.gitignore
.claude
**/.env
data/chroma/*
!data/chroma/.gitkeep
__pycache__/
**/__pycache__/
*.pyc
**/*.pyc
.pytest_cache/
**/*.pt
**/*.onnx
.cache/
**/.cache/
problem/
docs/for_claude/
README.md
